@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');


$mobile: 320px;
$medium: 800px;
$desktop: 1440px;

$dark-cyan: hsl(158, 36%, 37%);
$cream: hsl(30, 38%, 92%);

$very-dark-blue: hsl(212, 21%, 14%);
$dark-grayish-blue: hsl(228, 12%, 48%);
$white: hsl(0, 0%, 100%);

$fz-main: 14px;




body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    background-color: antiquewhite;
}


.wrapper {
    min-height: 100vh;
    min-width: $mobile;
    display: flex;
    margin: 0 auto;
    align-items: center;
    max-width: 350px;
    @media (min-width: $medium) {
        max-width: $desktop;
        padding: 0 50px;
    }
}
.card {
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;

    @media (min-width: $medium) {
        flex-direction: row;
        max-width: $medium;
        margin: 0 auto;
    }
}
.card__image {
    img {
        max-width: 100%;
        height: auto;
        @media (min-width: $medium) {
            height: 100%;   
            object-fit: cover;
            object-position: center;
        }
    }
    @media (min-width: $medium) {
        flex: 100%;
    }
}
.card__info {
    padding: 1.5em;
    
    @media (min-width: $medium) {
        flex: 100%;
    }
}
.card__tag {
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: .8em;
    color: $dark-grayish-blue;
    margin-bottom: .5rem;
}
.card__title {
    font-family: 'Fraunces', sans-serif;
    font-size: 2.2em;
    margin: 0;
}
.card__description {
    font-size: 1em;
    color: $dark-grayish-blue;
    line-height: 1.5rem;
}
.card__price {
    display: flex;
    align-items: center;
}
.price-current {
    font-size: 2em;
    color: $dark-cyan;
    margin-right: 1rem;
    font-family: 'Fraunces', sans-serif;
    
}
.price-before {
    text-decoration: line-through;
    color: $dark-grayish-blue;
}
.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 3.5rem;
    font-size: 1.3em;
    font-weight: bold;
    border-radius: 1em;
    border: none;

    &:hover {
        transition: ease-out .1s;
        background-color: darken($dark-cyan, 10%);
    }

    img {
        width: 20px;
        height: 20px;
        margin-right: .5rem;
    }
}
.action {
    background-color: $dark-cyan;
    color: $white;
}
.attribution {
}