@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

$desktop: 800px;
$mobile: 375px;

$color-primary: hsl(10, 79%, 65%);
$color-complimentary: hsl(186, 34%, 60%);

$dark-brown: hsl(25, 47%, 15%);
$brown: hsl(28, 10%, 53%);
$cream: hsl(27, 66%, 92%);
$orange: hsl(33, 100%, 98%);

$fz-small: .9em;
$fz-medium: 1.2em;
$fz-big: 1.5em;


$fw-medium: 400;
$fw-bold: 700;

$px-mobile: 1.2rem;

$border-radius: .5rem;


body {
    margin: 0;
    font-family: 'DM Sans';
    background-color: $cream;
    main {

    }

}


.wrapper {
    max-width: $mobile;
    min-height: 100vh;
    padding: 2rem 10px;
    margin: 0 auto;

}
.balance {
    background-color: $color-primary;
    color: $orange;
    border-radius: $border-radius;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    padding: $px-mobile;
    
    &__info {
        h1 {
            font-size: $fz-small;
            font-weight: $fw-medium;
        }
        span {
            font-size: $fz-big;
            font-weight: $fw-bold;
        }
    }
    &__logo {
        width:72px;
        height:48px;
    }
}
.chart {
    background-color: $orange;
    border-radius: $border-radius;
    color: $dark-brown;
    padding: $px-mobile;
    &__title {
        margin: 0;
    }

    &__list {
        padding: 0;
        display: flex;
        justify-content: space-evenly;
        align-items: flex-end;
        list-style: none;

    }

    &__item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        color: $brown;
        flex-basis: 100%;

    }
    &__bar {
        background-color: $color-primary;
        border-radius: $border-radius / 2;
        color: $brown;
        margin: .4rem;

    }

    &__bar[color="max"] {
        background-color: $color-complimentary;
    }

    &__visualisation {
        border-bottom: 1px solid $cream;
    }
    &__summary {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.summary__total-section {
    h3 {
        font-size: $fz-small;
        color: $brown;
        font-weight: $fw-medium;
        padding-top: .5rem;
    }
    span {
        font-weight: $fw-bold;
        font-size: $fz-big;
        font-weight: $fw-bold;
    }
}


.summary__change {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-size: $fz-small;
    h3 {
        margin-bottom: 0;
    }

    span {
        color: $brown;
    }
}